<Body:>
  <ui:connectionAlert>
  <h2>Hello World!</h2>

<Scripts:>
  <script type=text/javascript src=/js/jquery.js></script>
  <script type=text/javascript src=/js/jquery.swiftype.autocomplete.js></script>
  <script type=text/javascript src=/js/scripts.js></script>
  <script type=text/javascript>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'FILL IN GA NUMBER']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type=text/javascript src=//swiftype.com/embed.js></script>

<Tail:>
  <noscript>
    Please enable javascript for a significantly better user experience.
  </noscript>